// colors
$color-red: red;
$color-blue: blue;
$color-orange: orange;
$color-green: green;
$color-black: black;
$color-pink: pink;
$color-brown: brown;

// .color-red{
//     background: $color-red;
// }
// .color-blue{
//     background: $color-blue;
// }
// .color-black{
//     background: $color-black;
// }
// .color-pink{
//     background: $color-pink;
// }
// .color-green{
//     background: $color-green;
// }
// .color-orange{
//     background: $color-orange;
// }